<div class="boxAdd">
    <h3>Thêm khách hàng</h3>
    <form action="/customer/adddb" method="Get">
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Tên khách hàng</label>
            <input type="text" name="tenkh" value="" class="form-control" id="exampleFormControlInput1">
        </div>
         <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">SDT</label>
            <input type="text" name="sdt" value="" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Ngày sinh</label>
            <input type="text" name="ngaysinh" value="" class="form-control"
                id="exampleFormControlInput2">
        </div>
         <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Địa chỉ</label>
            <input type="text" name="diachi" value="" class="form-control"
                id="exampleFormControlInput2">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Giới tính</label>
            <input type="text" name="gioitinh" value="" class="form-control" id="exampleFormControlInput3">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">email</label>
            <input type="text" name="email" value="" class="form-control" id="exampleFormControlInput4">
        </div>
        
        <input type="submit" class="btn btn-warning inputSubmit" />
    </form>
</div>
