<div class="boxAdd">
    <h3>Thêm sản phẩm</h3>
    <form action="/product/adddb" method="Get">
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Tên sản phẩm</label>
            <input type="text" name="tensp" value="" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Số lượng nhập</label>
            <input type="text" name="soluongnhap" value="" class="form-control"
                id="exampleFormControlInput2">
        </div>
         <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Số lượng bán</label>
            <input type="text" name="soluongban" value="" class="form-control"
                id="exampleFormControlInput2">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Gía bán</label>
            <input type="text" name="giaban" value="" class="form-control" id="exampleFormControlInput3">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Đơn vị tính</label>
            <input type="text" name="donvitinh" value="" class="form-control" id="exampleFormControlInput4">
        </div>
         <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Mô tả</label>
            <input type="text" name="mota" value="" class="form-control" id="exampleFormControlInput5">
        </div>
        <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Tình trạng</label>
            <input type="text" name="tinhtrang" value="" class="form-control" id="exampleFormControlInput5">
        </div>
         <div class="me-3">
            <label for="exampleFormControlInput1" class="form-label">Chất liệu</label>
            <input type="text" name="chatlieu" value="" class="form-control" id="exampleFormControlInput5">
        </div>
        <input type="submit" class="btn btn-warning inputSubmit" />
    </form>
</div>
